.btn {
	background: $black;
	border: none;
	color: $white;
	display: block;
	font-weight: bold;
	margin: 1.618rem 0 0;
	max-width: 250px;
	padding: 15px 50px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	transition: all ease 0.25s;
	width: auto;

	&:hover,
	&:focus,
	&:focus-within {
		opacity: 1;
		background: $dark;
		color: $white;
	}

	&--special {
		&:hover,
		&:focus,
		&:focus-within {
			background: $white;
			color: $dark;
		}
	}

	@include break(sm) {
		width: 100%;
		display: block;
	}
}
